.title {
  padding: 1rem;
    text-align: center;
    font-size: 3rem;
    color: blue;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #264fd4, 0 0 40px #264fd4,
      0 0 50px #264fd4, 0 0 60px #264fd4, 0 0 70px #264fd4;
}

@media (max-width:540px) {
  .title {
    font-size: 2rem;
  }
}