.movieCard {
    list-style: none;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.movieImage {
    background-color: azure;
    border-radius: 15px;
}
.movieImage:hover {
    opacity: 0.6;
    width: 160px;
}

@media (max-width: 540px) {
    .movieImage {
        width: 90%;
        height: auto;
    }
}