.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill,160px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}
div {
    padding: 10px;
}

@media (max-width: 540px) {
    .moviesGrid {
        grid-template-columns: 95%;
        height: auto;
        padding: 10px;
    }
}